* {
  -fx-font-family: 'Segoe UI';
}

:root {
  -fx-font-size: 16px;
  -fx-font-weight: lighter;
}

.hyperlink {
    -fx-text-fill: #007fff;
}

.hyperlink:visited {
    -fx-text-fill: #007fff;
    -fx-underline: false;
}

.hyperlink:hover {
    -fx-text-fill: #003f7f;
}

*.appliance-value-view {
    -fx-font-size: 18px !important;
    -fx-font-weight: bolder !important;
}
